 <script src="/vendor/bootstrap/js/bootstrap-select.min.js"></script> 
 <link href="/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">
 <style>
 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
 </style>
<div class="modal fade" id="modalEmpleadoActualizar" tabindex="-1" role="dialog"
	aria-labelledby="modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="dialogo-editar-title" id="dialogo-editar-title">
				Modificar Empleado
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="dialogo-editar-body">
				<form action="#" th:action="@{/persona/empleado/actualizar}" th:object="${empleado}"
					method="post">
					<input type="hidden" th:field="*{id}" />
					<div id="form-crear-modificar">
						<div class="form-row">
							<div class="form-group col">
								<p>
									Nombre: <input class="form-control"
										type="text" th:field="*{nombre}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Apellido: <input class="form-control"
										 type="text"
										th:field="*{apellido}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Dni: <input class="form-control"
										 type="number"
										th:field="*{dni}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Fecha de Nacimiento: <input class="form-control"
										 type="date"
										th:field="*{fechaNacimiento}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Sueldo: <input class="form-control"
										 type="text"
										th:field="*{sueldo}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Gerente:<input class="form-control" 
									type="radio" id="Gerente" value="1" th:field="*{esGerente}" />
									Empleado:<input class="form-control"  
									type="radio" id="Gerente" value="0" th:field="*{esGerente}" />

							
								</p>
							</div>
						</div>
						<div class="form-row">
						<div class="form-group col">
						<select  class="form-group selectpicker" placeholder="Seleccionar Local" th:field="*{localModel.id}">
							<option th:each="local : ${locales}" th:value="${local.id}"
							 th:text="${local.direccion}"></option>
						</select>
						</div>
					</div>
					</div>
					<input type="submit" value="Crear" class="boton btn btn-success"/>
					<input
					type="button" id="dialogo-editar" class="btn botonCancelar"
					value="Cancelar"/>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function () {
	$('.selectpicker').selectpicker();
	$("#dialogo-editar").click(function() {
		$("#modalEmpleadoActualizar").modal("hide");		
	});
});
</script>

