
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">      

<body>

<div layout:fragment="content">

<div class="row">
     <h3 class="col-md-2">Comision</h3>
    <div class="col-md-2 abrirModal">
    <i class="fa fa-plus-circle" style="font-size: 24px; color: black;margin-left: 9px; padding-top: 8px;" aria-hidden="true"></i>
    </div>
 </div>        
<br/>
    
<table id="tabla" class="table table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th>Comision por venta</th>
            <th>Comision por Ceder</th>
            <th>Comision por pedido</th>
            <th>fecha</th>
          </tr>
    </thead>
    <tbody>        
        <tr th:each="comisiones : ${comisiones}">  
           <td><span th:text="${comisiones.plusVenta}" /></td>
           <td><span th:text="${comisiones.plusCeder}" /></td>          
            <td><span th:text="${comisiones.plusPedido}" /></td> 
           <td><span th:text="${comisiones.fecha}" /></td>
        </tr>        
    </tbody>
</table>

<div id="modal">

</div>
<div id="modalActualizar">

</div>


</div>

</div>
</body>
</html>
<script>	
$(document).ready(function () {
		$(".abrirModal").click(function() {
				$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
					method: "GET",
				 	url: "/comision/crear",
				})
				.done(function(result) {
					$("#modal").html(result);
					$("#modalComision").modal("show");
				})
				.fail(function() {
					alert("error");
				});				
		});			
		$(".actualizar").click(function() {
			var id = $(this)[0].getAttribute("data-value");
			id = parseInt(id);
			if($.isNumeric(id)){
				$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
					method: "GET",
				 	url: "/comision/" + id,
				})
				.done(function(result) {
					$("#modalActualizar").html(result);
					$("#modalComisionActualizar").modal("show");
				})
				.fail(function() {
					alert("error");
				});
			}else $("#modalActualizar").html("");
			
			
		});
});
</script>
