
<script src="/vendor/bootstrap/js/bootstrap-select.min.js"></script> 
<link href="/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">

 <style>
 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;

}
 </style>
 
<div class="modal fade" id="modalLote" tabindex="-1" role="dialog"
	aria-labelledby="modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="dialogo-editar-title" id="dialogo-editar-title">
				Crear Pedido
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="dialogo-editar-body">
				<form id="crearPedido" action="#" th:action="@{/pedido/crear}" th:object="${pedido}"
					method="post">
					<div id="form-crear-modificar">						
				  <div class="form-row">
						<div class="form-group col">
						<p>Seleccione Producto</p>
						<select  class="form-group selectpicker" id="producto" th:field="*{productoModel.id}">
							<option th:each="producto : ${productos}" th:value="${producto.id}"
							 th:text="${producto.descripcion}"></option>
						</select>
						</div>
					</div>					
						<div class="form-row">
							<div class="form-group col">
								<p>
									Cantidad: <input class="form-control cantidad" id="algo"
										 type="number"
										th:field="*{cantidadSolicitada}" min="1" />
								</p>
							</div>
						</div>
						<div class="form-row">
						<div class="form-group col">
						<p>Seleccione Cliente</p>
						<select class="form-group selectpicker" placeholder="Seleccionar Cliente" th:field="*{clienteModel.id}">
							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
							 th:text="${cliente.nombre}"></option>
						</select>
						</div>
						 <input hidden id="idLocalSolicitado" th:field="*{idLocalSolicitado}"></input>
					</div>						
					</div>
					<input type="submit" value="Crear"  hidden class="boton crear btn btn-success"/>
					<input type="button" value="Consultar Stock" id="consultar" class="boton btn btn-success"/>
	
					<input
					type="button" id="dialogo-editar" class="btn botonCancelar"
					value="Cancelar"/>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="consultaStock" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Solicitud Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="consultaSolicitar">&iquest;Desea consultar stock en los locales cercanos?</p>
        <p id="verLocales" hidden>Seleccione la cantidad de locales que desea ver:</p>   
      </div>
      <div hidden id="contieneLocal" >
      	<select  class="selectpicker" name="Locales"  id="cantidadLocales">
			<option value="0">Ver todos</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
      </div>
      <div class="modal-footer">
        <button type="button" id="aceptarSolicitud" class="btn boton btn-primary">Aceptar</button>
        <button type="button" id="enviarSolicitud" class="btn boton btn-primary" hidden>Solicitar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="modalSolicitar">

</div>
<script>
/*var fechaHoy = new Date();
var hoy = new String;
if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
fechaHoy =fecha.getFullYear() + "-" +  fecha.getDate() + "-" + (fecha.getMonth() +1);

today = new Date();
fecha = new String;
var dd = today.getDate();
var mm = today.getMonth()+1; 
var yyyy = today.getFullYear();

if(dd<10) dd='0'+dd;
if(mm<10) mm='0'+mm;

hoy = "yyyy + "-" + dd + "-" mm";

document.write(hoy) */






$(document).ready(function () {
 	/*var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

	$("#fecha").attr({
       "max" : today,        
       "min" : today          
    });	
	*/
	$('.selectpicker').selectpicker();
	
	$("#dialogo-editar").click(function() {
		$("#modalLote").modal("hide");		
	});
	$(".cantidad").change(function(){
		$(".crear").hide();
		$("#consultar").show();
	});
	$("#consultar").click(function() {
		$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
			method: "GET",
		 	url: "/pedido/consultarStock",
		 	data:{idProducto:parseInt($("#producto").val()),cantidadSolicitada:parseInt($(".cantidad").val())}
		})
		.done(function(result) {
			if(result == "ok"){
				MensInfo("Informacion", "Stock Disponible")
				$(".crear").removeAttr('hidden');
				$(".crear").show();
				$("#consultar").hide();
			}else{
				MensError("Error", "Sin stock disponible", function(){
					return $("#consultaStock").modal('show');
				});
			}
		})
		.fail(function() {
			alert("error");
		});
	});	
	
	$("#aceptarSolicitud").click(function(){

		$("#consultaSolicitar").hide();
		$("#verLocales").removeAttr('hidden');
		$("#contieneLocal").removeAttr('hidden');
		$("#aceptarSolicitud").hide();
		$("#enviarSolicitud").removeAttr('hidden');
		});

		
		
});
$("#enviarSolicitud").click(function(){
	$("#consultaStock").modal("hide");
		$.ajax({
			method: "GET",
			url: "/pedido/solicitarStock",
			data:{idProducto:parseInt($("#producto").val()), cantidadSolicitada:parseInt($(".cantidad").val()), cantidadLocales:parseInt($("#cantidadLocales").val())}
		})
		.done(function(result){
			//alert(""+cantidadLocales:parseInt($("#verLocales").val()));
			$("#modalSolicitar").html(result);
			
			
		})
		.fail(function() {
			alert("error");
		});
});

var today = new Date().toISOString().split('T')[0];

document.getElementsByName("DateOfTravel")[0].setAttribute('min', today);

</script>



