
<script src="/vendor/bootstrap/js/bootstrap-select.min.js"></script> 
<link href="/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">

 <style>
 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;

}
 </style>
<div class="modal fade" id="modalLote" tabindex="-1" role="dialog"
	aria-labelledby="modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="dialogo-editar-title" id="dialogo-editar-title">
				Crear Pedido
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="dialogo-editar-body">
				<form action="#" th:action="@{/pedido/crear}" th:object="${pedido}"
					method="post">
					<div id="form-crear-modificar">						
				  <div class="form-row">
						<div class="form-group col">
						<p>Seleccione Producto</p>
						<select  class="form-group selectpicker" id="producto" th:field="*{productoModel.id}">
							<option th:each="producto : ${productos}" th:value="${producto.id}"
							 th:text="${producto.descripcion}"></option>
						</select>
						</div>
					</div>					
						<div class="form-row">
							<div class="form-group col">
								<p>
									Cantidad: <input class="form-control cantidad" id="algo"
										 type="number"
										th:field="*{cantidadSolicitada}" min="1" />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Fecha Ingreso: <input class="form-control"
										type="date" th:field="*{fecha}" required/>
								</p>
							</div>
						</div>
						<div class="form-row">
						<div class="form-group col">
						<p>Seleccione Cliente</p>
						<select class="form-group selectpicker" placeholder="Seleccionar Cliente" th:field="*{clienteModel.id}">
							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
							 th:text="${cliente.nombre}"></option>
						</select>
						</div>
					</div>						
					</div>
					<input type="submit" value="Crear"  hidden class="boton crear btn btn-success"/>
					<input type="button" value="Consultar Stock" id="consultar" class="boton btn btn-success"/>
	
					<input
					type="button" id="dialogo-editar" class="btn botonCancelar"
					value="Cancelar"/>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="consultaStock" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Solicitud Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="consultaSolicitar">¿Desea consultar stock en los locales cercanos?</p>
        <p hidden id="verLocales">Seleccione la cantidad de locales que desea ver:</p>   
      </div>
      <div>
      	<select  class="selectpicker" name="Locales" id="cantidadLocales" hidden >
			<option value="0">Ver todos</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
      </div>
      <div class="modal-footer">
        <button type="button" id="aceptarSolicitud" class="btn btn-primary">Aceptar</button>
        <button type="button" id="enviarSolicitud" class="btn btn-primary" hidden>Solicitar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="modalSolicitar">

</div>
<script>
$(document).ready(function () {

	$('.selectpicker').selectpicker();
	
	$("#dialogo-editar").click(function() {
		$("#modalLote").modal("hide");		
	});
	$(".cantidad").change(function(){
		$(".crear").hide();
		$("#consultar").show();
	});
	$("#consultar").click(function() {
		$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
			method: "GET",
		 	url: "/pedido/consultarStock",
		 	data:{idProducto:parseInt($("#producto").val()),cantidadSolicitada:parseInt($(".cantidad").val())}
		})
		.done(function(result) {
			if(result == "ok"){
				MensInfo("Informacion", "Stock Disponible")
				$(".crear").removeAttr('hidden');
				$(".crear").show();
				$("#consultar").hide();
			}else{
				MensError("Error", "Sin stock disponible", function(){
					return $("#consultaStock").modal('show');
				});
				//$(".solicitar").removeAttr('hidden');
				//$(".solicitar").show();
// 				$("#consultar").hide();
// 				$("#modalLote").hide();
// 				$.ajax({
// 					method: "GET",
// 					url: "/pedido/solicitarStock",
// 					data:{idProducto:parseInt($("#producto").val()), cantidadSolicitada:parseInt($(".cantidad").val())}
// 				})
// 				.done(function(result){
// 					$("#modalSolicitar").html(result);
// 					$("#modalLote").modal("hide")
// 					$("#solicitarStock").modal("show");
// 				})
// 				.fail(function() {
// 					alert("error");
// 				});
			}
		})
		.fail(function() {
			alert("error");
		});
	});	
	
	$("#aceptarSolicitud").click(function(){
// 		$.ajax({
// 			method: "GET",
// 			url: "/pedido/solicitarStock",
// 			data:{idProducto:parseInt($("#producto").val()), cantidadSolicitada:parseInt($(".cantidad").val())}
// 		})
// 		.done(function(result){
// 			$("#modalSolicitar").html(result);
// 			$("#modalLote").modal("hide")
// 			$("#solicitarStock").modal("show");
// 		})
// 		.fail(function() {
// 			alert("error");
// 		});
		$("#consultaSolicitar").hide();
		$("#verLocales").removeAttr('hidden');
		$("#cantidadLocales").removeAttr('hidden');
		$("#aceptarSolicitud").hide();
		$("#enviarSolicitud").removeAttr('hidden');
		});
});
$("#enviarSolicitud").click(function(){
		$.ajax({
			method: "GET",
			url: "/pedido/solicitarStock",
			data:{idProducto:parseInt($("#producto").val()), cantidadSolicitada:parseInt($(".cantidad").val()), cantidadLocales:parseInt($("#verLocales").val())}
		})
		.done(function(result){
			$("#modalSolicitar").html(result);
			$("#modalLote").modal("hide")
			$("#solicitarStock").modal("show");
		})
		.fail(function() {
			alert("error");
		});
});



</script>



