<script src="/vendor/bootstrap/js/bootstrap-select.min.js"></script> 
<link href="/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">

 <style>
 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;

}
 </style>

<div class="modal fade" id="solicitarStock" tabindex="-1" role="dialog"
	aria-labelledby="modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="dialogo-editar-title" id="dialogo-editar-title">
					Solicitar Stock</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="dialogo-editar-body">
				<div class="form-row">
					<div class="form-group col">
						<p>Seleccione Local</p>
						<select class="form-group selectpicker" id="locales"
							placeholder="Seleccionar Local">
							<option th:each="local : ${localesConStock}"
								th:value="${local.id}" th:text="${local.direccion}"></option>
						</select>
					</div>
				</div>
				<input type="button" class="boton" value="Solicitar" id="pedir" /> 
				<input type="button" id="dialogo-editar" class="btn botonCancelar" value="Cancelar" />
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function () {
$('.selectpicker').selectpicker();

if($("#locales option").length > 0){
	$("#solicitarStock").modal('show');
	
}else{
	MensError("", "Por el momento no contamos con el stock de este producto");
}		

$("#pedir").click(function(){
	$("#idLocalSolicitado").val($("#locales").val());
	$("#crearPedido").submit();
});

});

</script>