<script src="/vendor/bootstrap/js/bootstrap-select.min.js"></script> 
 <link href="/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">
 <style>
 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
 </style>
<div class="modal fade" id="modalClienteActualizar" tabindex="-1" role="dialog"
	aria-labelledby="modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="dialogo-editar-title" id="dialogo-editar-title">
				Modificar Cliente
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="dialogo-editar-body">
				<form action="#" th:action="@{/persona/cliente/actualizar}" th:object="${cliente}"
					method="post">
					<input type="hidden" th:field="*{id}" />
					<div id="form-crear-modificar">
						<div class="form-row">
							<div class="form-group col">
								<p>
									Nombre: <input class="form-control"
										type="text" th:field="*{nombre}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Apellido: <input class="form-control"
										 type="text"
										th:field="*{apellido}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Dni: <input class="form-control"
										 type="number"
										th:field="*{dni}" id="dni" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Fecha de nacimiento: <input class="form-control"
										 type="date"
										th:field="*{fechaNacimiento}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Email: <input class="form-control"
										 type="mail"
										th:field="*{mail}" required pattern="[a-z0-9._-]+@gmail.com" title="Debe ser un email del tipo @gmail.com"/>
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Telefono: <input class="form-control"
										 type="text"
										th:field="*{telefono}" required pattern="[1]{2}[0-9]{4}[0-9]{4}" title="El n&uacute;mero ingresado debe comenzar con 11, seguido de 8 n&uacute;meros"/>
								</p>
							</div>
						</div>
					</div>
					<input type="submit" value="Actualizar" class="boton btn btn-success"/>
					<input
					type="button" id="dialogo-editar" class="btn botonCancelar"
					value="Cancelar"/>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function () {
	$('.selectpicker').selectpicker();
	$("#dialogo-editar").click(function() {
		$("#modalClienteActualizar").modal("hide");		
	});
});
</script>



