<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">      

<body>

<div layout:fragment="content">

<div class="row">
     <h3 class="col-md-4">Clientes</h3>
    <div class="col-md-2 abrirModal">
       <a href="/persona/cliente/crear"> <i  class="fa fa-plus-circle" style="font-size: 24px; color: black;margin-left: 9px; padding-top: 8px;" aria-hidden="true"></i></a>    
    </div>
 </div>        
<br/>
    
<table id="tabla" class="table table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Mail</th>
            <th>Nacimiento</th>
            <th></th>
            <th></tr>
    </thead>
    <tbody>        
        <tr th:each="cliente : ${clientes}">            
            <td><span th:text="${cliente.nombre}" /></td>
            <td><span th:text="${cliente.apellido}" /></td>
            <td><span th:text="${cliente.mail}" /></td>
            <td><span th:text="${cliente.fechaNacimiento}" /></td>
            <td style="text-align:center"><a th:href="@{/persona/cliente/{id}(id=${cliente.id})}"><i class="fa fa-edit" style="font-size: 24px; color: grey;" aria-hidden="true"></i></a></td>
            <td  style="text-align:center">
            <form action="#" th:action="@{/persona/cliente/eliminar/{id}(id=${cliente.id})}" method="post">
	              <button class="fa fa-trash" type="submit" style="font-size: 24px; color: black;border: 0 !important;" aria-hidden="true"></button>
            </form>
            </td>
        </tr>        
    </tbody>
</table>
</div>
</body>
</html>
