<!DOCTYPE html>


<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>UNLa</title>
		<!-- Bootstrap core CSS -->
		
		<link href="/css/prueba.css" rel="stylesheet" />
	</head>
	<body>
	    <!-- Page Content -->
	    <div class="login">
	      <div class="jumbotron">
	        
			<form class="box" action="index.html" th:action="@{/loginprocess}" method="post">
				 <h1>Login</h1>
		      	<input type="text" name="username" id="username" placeholder="Usuario" />
		      	<input type="password" name="password" id="password" placeholder="Contraseña" />
		      	<input type="submit" class="btn btn-primary btn-block btn-large"name="" value="Ingresar"/>
	      	</form>
	      	<div th:if="${error != null}" class="alert alert-danger">
		    	La contraseña ingresada es incorrecta
		    </div>
	      </div>
	    </div>
	    <!-- Bootstrap core JavaScript -->
	    <script src="/vendor/jquery/jquery.min.js"></script>
	    
	</body>
</html>
