<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>UNLa</title>
		<!-- Bootstrap core CSS -->
		
		<link href="/css/prueba.css" rel="stylesheet" />
		
		
	</head>
	<body>
	    <!-- Page Content -->
	    <div class="login">
	      <div class="jumbotron">
	      

		<form class="box" action="index.html" th:action="@{/loginprocess}" method="post">
                <h1>Login</h1>
		      	<input type="text" name="username" id="username" placeholder="Usuario" />
		      	<input type="password" name="password" id="password" placeholder="Contraseña" />
		      	<input type="submit" class="btn btn-primary btn-block btn-large"name="" value="Ingresar"/>
	      	
	      	</form>
	      	<div class="exito"><strong>Se cerro la sesion correctamente</strong></div>
	      </div>
	    </div>
		<!-- Bootstrap core JavaScript -->
		<script src="/vendor/jquery/jquery.min.js"></script>
		
	</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        $(".exito").fadeOut(1000);
    },1000);
});
</script>