<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UNLa</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet" />
      <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    	<link href="/css/prueba.css" rel="stylesheet" />
    	<style>
    	.blanco{
    	color: white;
    	}
    	</style>
  </head>
  
  <body>
    <!-- Navigation -->
    <div>
	    <h1 class="blanco" style="text-align:center">ERROR 500</h1>
	    <div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-8">
	    <h1 class="blanco" style="margin-left: 54px;"><small>Internal server error</small></h1>
	    </div>
	    </div>
	    <div class="row">    
	    <div class="col-md-5"></div>
	    <div class="col-md-7 blanco" style="margin-left: -34px;"><label>Prueba mejor suerte con este links:</label></div>
	    </div> 
	    <div class="row">    
	    <div class="col-md-5"></div>
	    <div class="col-md-7" style="margin-left: -34px;">
	    <i class="fa fa-home blanco" style="font-size: 28px;" aria-hidden="true"></i>
	    <a style="font-size: 28px;" href="/index">Home</a>
	      </div> 
	  </div>  	
	       
	   
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
