

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<body>
	<div layout:fragment="content">
	<form action="#" th:action="@{/localidad/crear}" th:object="${localidad}" method="post">
			<div id="form-crear-modificar">
				<div class="form-row">
					<div class="form-group col">
						<p>
						  Nombre: <input class="form-control" style="width: 20% !important" type="text" th:field="*{nombre}" />
						</p>
					</div>
				</div>			
				<div class="form-row">
					<div class="form-group col">
						<p>
							Longitud: <input class="form-control" style="width: 20% !important" type="text" th:field="*{longitud}" />
						</p>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<p>
							Latitud: <input class="form-control" style="width: 20% !important" type="text" th:field="*{latitud}" />
						</p>
					</div>
				</div>
			</div>
			<input type="submit" style="width: 7%;" value="crear"/>
		</form>
	</div>
</body>


