body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:  #a8329b !important;
}

.box{/*CAJA PRINCIPAL CON EL BORDER COLOR VIOLETA*/
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #0f0f0f;
  border: 2px solid #4000FF;
  text-align: center;
}


.box h1{/*INICIO COLOR Y FORMA*/
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #99127a;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: grey;
  border-radius: 24px;
  transition: 0.30s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #FFFFFF;
  /*#2ecc71*/
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4000FF;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #4000FF;
}
