<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">      

	<body>

		<div layout:fragment="content">
			
			<ul class="nav nav-tabs" id="myTab" role="tablist">
  				
  				<li class="nav-item">
    				<a class="nav-link active" id="pedido-tab" data-toggle="tab" href="#solicitados" role="tab" aria-controls="home" aria-selected="true">Solicitudes realizadas</a>
  				</li>
  				
  				<li class="nav-item">
    				<a class="nav-link" id="recibido-tab" data-toggle="tab" href="#recibidos" role="tab" aria-controls="profile" aria-selected="false">Solicitudes recibidas</a>
				  </li>
				 <div class="col-md-7" id="cambioEstado" style="text-align: end;">
				  	<select  class="form-group selectpicker"   id="valorEstado">
								 <option value ="1" >Confirmado</option>
  								<option value ="2">Pendiente</option>
  								<option value ="3">Rechazado</option>
					</select>
  				</div>
			</ul>
		<br />
			<div id="partialSolicitudes">
			<div class="tab-content" id="myTabContent">
  				<div class="tab-pane fade show active" id="solicitados" role="tabpanel" aria-labelledby="home-tab">
					<table id="tabla" class="table table-striped table-bordered table-hover" style="width:100%">
   						 <thead>
        					<tr>        					
            				<th>Colaborador</th>
            				<th>Producto solicitado</th>
            				<th>Estado</th>   
             				</tr>
    					</thead>
    					<tbody>        
       						 <tr th:each="solicitud : ${solicitudesRealizadas}">        	    					
       	    					<td><span th:text="${solicitud.colaborador != null && solicitud.colaborador.nombre !=null} ? ${solicitud.colaborador.nombre} : 'Sin asignar'"></span></td>
       	    					<!-- <td><span th:if="${solicitud.colaborador != null && solicitud.colaborador != null}" th:text="${recibida.solicitador.nombre}" /></td>-->                         					
            					<td><span th:text="${solicitud.pedido.producto.descripcion}" /></td>
            					<td>
            						<span th:switch="${solicitud.estado}">
            							<p th:case="1" style="color: green"><strong>Confirmado</strong></p>
            							<p th:case="2" style="color: #d67d09"><strong>Pendiente</strong></p>
            							<p th:case="3" style="color: red"><strong>Rechazado</strong></p>
            						</span>
            					</td>   
        					</tr>        
    				</tbody>
				</table>
<!--  **************************************************    RECIBIDOS ******************************************************************* -->				
			</div>
  				<div class="tab-pane fade" id="recibidos" role="tabpanel" aria-labelledby="profile-tab">
  					<table id="recibido" class="table table-striped table-bordered table-hover" style="width:100%">
   						 <thead>
        					<tr>
            				<th>Solicitante</th>
            				<th>Producto solicitado</th>
            				<th>Estado</th> 
           				    <th class="aceptar"></th>  
		           		    <th class="rechazar"></th> 
             				</tr>
    					</thead>
    					<tbody>        
       						 <tr th:each="recibida : ${solicitudesRecibidas}">       
       						 <td><span th:text="${recibida.solicitador != null && recibida.solicitador.nombre != null} ? ${recibida.solicitador.nombre} : 'Sin asignar'"></span></td> 	    					
<!--        	    					<td><span th:if="${recibida.solicitador != null && recibida.solicitador.nombre != null}" th:text="${recibida.solicitador.nombre}" /></td>                       					 -->
            					<td><span th:text="${recibida.pedido.producto.descripcion}" /></td>
            					<td>
            						<span th:switch="${recibida.estado}">
            							<p th:case="1" style="color: green"><strong>Confirmado</strong></p>
            							<p th:case="2" style="color: #d67d09"><strong>Pendiente</strong></p>
            							<p th:case="3" style="color: red"><strong>Rechazado</strong></p>
            						</span>
            					</td>
            					<td class="aceptar"><span th:if="${recibida.estado == 2}"><div th:data-value="${recibida.id}" style="text-align: center;font-size: 23px;" id="aceptarSoli"><i class="fa fa-check" aria-hidden="true"></i></div></span></td>  
								<td class="rechazar"><span th:if="${recibida.estado == 2}"><div th:data-value="${recibida.id}" style="text-align: center;font-size: 20px;" id="rechazarSoli"><i class="fa fa-trash" aria-hidden="true"></i></div></span></td>  
        					</tr>            
    				</tbody>
				</table>
  				</div>
  				
			</div>
			
		</div>
	</div>
	</body>

</html>
<script>
$(document).ready(
	     function () {
        $('#recibido').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "Sin informacion",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },

        lengthMenu: [5, 10, 15],
        });
});
		

	$("#cambioEstado").click(function() {
		$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
			method : "GET",
			url : "/solicitudStock/filtrarSolicitudes",
			data : {
				estado : parseInt($("#valorEstado").val())
			}
		}).done(function(result) {
			$("#partialSolicitudes").html(result);
		}).fail(function() {
			alert("error");
		});		
	});
	
	$("#aceptarSoli").click(function() {
		var id = $(this)[0].getAttribute("data-value");
		$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
			method: "GET",
			 url: "/solicitudStock/aceptarSolicitud",
			 data: {solicitud: parseInt(id)}
		})
		.done(function(result) {
			if(result){
				MensInfo("", "La solicitud se confirmo exitosamente", function(){location.reload();})
			}
		})
		.fail(function() {
			alert("error");
		});
	});
		$("#rechazarSoli").click(function() {
			var id = $(this)[0].getAttribute("data-value");
			alert(id);
			$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
				method: "GET",
				 url: "/solicitudStock/rechazarSolicitud",
				 data: {solicitud: parseInt(id)}
			})
			.done(function(result) {
				if(result){
					MensError("", "La solicitud se rechazo exitosamente", function(){location.reload();})
				}
			})
			.fail(function() {
				alert("error");
			});

		});
		
		$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
			method: "GET",
		 	url: "/consultarRol"		 	
		})
		.done(function(result) {
			if(result == "ROL_ADMIN"){
				$(".aceptar").hide();
				$(".rechazar").hide();
			}
		})
		.fail(function() {
			alert("error");
		});	
</script>