<script src="/vendor/bootstrap/js/bootstrap-select.min.js"></script> 
<link href="/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">
 
 <style>
 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
 </style>
<div class="modal fade" id="modalLote" tabindex="-1" role="dialog"
	aria-labelledby="modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="dialogo-editar-title" id="dialogo-editar-title">
				Crear Lote
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="dialogo-editar-body">
				<form action="#" th:action="@{/lote/crear}" th:object="${lote}"
					method="post">
					<div id="form-crear-modificar">
						<div class="form-row">
							<div class="form-group col">
								<p>
									Fecha Ingreso: <input class="form-control"
										type="date" th:field="*{fechaIngreso}" required />
								</p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<p>
									Cantidad: <input class="form-control"
										 type="text"
										th:field="*{cantidad}" min="1" />
								</p>
							</div>
						</div>
						<div class="form-row">
						<div class="form-group col">
						<p>Seleccione Producto</p>
						<select  class="form-group selectpicker" placeholder="Seleccionar Producto" th:field="*{productoModel.id}">
							<option th:each="producto : ${productos}" th:value="${producto.id}"
							 th:text="${producto.descripcion}"></option>
						</select>
						</div>
					</div>
					
					</div>
					<input type="submit" value="Crear" class="boton btn btn-success"/>
					<input
					type="button" id="dialogo-editar-cancelar" class="btn botonCancelar"
					value="Cancelar"/>
				</form>
			</div>
		

<script>
$(document).ready(function () {
	$('.selectpicker').selectpicker();
	$("#dialogo-editar-cancelar").click(function() {
		$("#modalLote").modal("hide");		
	});
});
</script>
<style>
.boton {
    background: #b165ae;
    width: 100%;
}
.botonCancelar{
width: 100%;
}
</style>


